.myPhoto {
    margin-top: 10px;
    border-radius: 10px;
}

.photoColumn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardHolder {
    background: #654ea3;  /* fallback for old browsers */
    background: linear-gradient(to bottom, #f1eaff, #efefef); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.aboutMe {
    background-color: white;
}