.App {
  width: 100vh;
}

.container {
  height: calc(100vh - 76px);
}


body {
  margin: 0;
  padding: 0;
}

.Navbar {
  width: 100%;
  height: 80px;
}

.sectionTitle {
  margin-left: 30px;
  margin-bottom: 10px;
  color: #8B6956;
  width: 100%;
}

.sectionBoxes {
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  background-color: white;
  color: #2f2e41;
  padding-left: 0;
  padding-right: 0;
  border-radius: 10px;
}

.about-container, .experience-container, .project-container {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.card, .card-body, .row {
  border-radius: 10px;
}